

.arka
{

 background-color: aquamarine;
 padding-bottom: 100px;

}

.container-php
{
padding-top: 250px;
text-align: center;
font-size:40 px;

}

.alt{
    background-color: rgb(206, 255, 127);

}

.alt h3{
    text-align: center;
    padding-bottom: 300px;
}