.content {
    text-align: center;
    background-color: rgb(153, 223, 233);
    height: 120vh;
    margin-bottom: 250px;

}


.content p {
    margin-top: 50px;
    font-size: 24px; 
    font-family: Arial, sans-serif; 
    text-align: center;
    background-color: #199173;
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.resimler-container {
    margin-top: 100x; 
    display: flex;
    justify-content: center;
    gap: 200px; 
    margin-bottom: 50px;
    
   
   
}

.resimler-container img {
    max-width: 500px;
    max-height: 300px;
   
}




body {
    background-color: rgb(112, 135, 199);
}

.arkaplan{
    background-color: rgb(112, 135, 199);
    padding-top: 20px; /* Üst boşluk */
    padding-bottom: 50px; /* Alt boşluk */
    padding-left: 0px;
    margin-bottom: 0;

}








